#
# A sample ant properties file
#

# JBoss remote repository
jboss.repository=http://repository.jboss.org

# The JBoss settings
jboss.bind.address=localhost

# JDK settings
java.home.sun.jdk7=/usr/java/jdk1.7
java.home.sun.jdk8=/usr/java/jdk1.8

# Hudson QA Environment
hudson.root=/data/workspace
hudson.host=jbossws-qa.jboss.org
hudson.admin.port=8250
hudson.http.port=8280

hudson.mail.recipients=
hudson.smtp.host=localhost

# WISE-CORE settings
hudson.wise.core.url= https://github.com/jboss-wise/wise-core
hudson.wise.core.rev=master

hudson.jboss800.build=wildfly-8.0.0.Final
hudson.jboss810.build=wildfly-8.1.0.Final
hudson.jboss820.build=wildfly-8.2.0.Final
hudson.jboss900.build=wildfly-9.0.0.Final

# Hudson setup
apache-tomcat=5.5.31
git-plugin=2.4.0
git-client-plugin=1.19.0
scm-api-plugin=0.2
jenkins-ver=1.638
