<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.GlobalMatrixAuthorizationStrategy">
    <permission>hudson.model.Item.Create:hudson</permission>
    <permission>hudson.model.Item.Delete:hudson</permission>
    <permission>hudson.model.Computer.Delete:hudson</permission>
    <permission>hudson.model.View.Configure:hudson</permission>
    <permission>hudson.model.Hudson.Administer:hudson</permission>
    <permission>hudson.model.View.Create:hudson</permission>
    <permission>hudson.model.Item.Configure:hudson</permission>
    <permission>hudson.model.Item.Workspace:hudson</permission>
    <permission>hudson.model.View.Delete:hudson</permission>
    <permission>hudson.model.Run.Delete:hudson</permission>
    <permission>hudson.scm.SCM.Tag:hudson</permission>
    <permission>hudson.model.Item.Read:anonymous</permission>
    <permission>hudson.model.Item.Read:hudson</permission>
    <permission>hudson.model.Run.Update:hudson</permission>
    <permission>hudson.model.Hudson.Read:anonymous</permission>
    <permission>hudson.model.Hudson.Read:hudson</permission>
    <permission>hudson.model.Item.Build:hudson</permission>
    <permission>hudson.model.Computer.Configure:hudson</permission>
  </authorizationStrategy>
  <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
    <disableSignup>false</disableSignup>
  </securityRealm>
  <systemMessage>
    <![CDATA[
  <h2>Wise Core - @version.id@ QA Environment</h2>

  <table>
  <tr><th align=left>Wise Core:</th><td>-r@hudson.wise.core.rev@ @hudson.wise.core.url@</td></tr>
  <tr><td colspan=2></td></tr>
  </table>
]]>
  </systemMessage>
  <!-- Display systemMessage html properly  -->
  <markupFormatter class="hudson.markup.RawHtmlMarkupFormatter" plugin="antisamy-markup-formatter@1.1">
    <disableSyntaxHighlighting>false</disableSyntaxHighlighting>
  </markupFormatter>

  <jdks/>
  <slaves/>
  <quietPeriod>5</quietPeriod>
  <views>

    <!-- WISE-CORE Builds -->
    <view>
      <owner reference="../../.."/>
      <jobNames class="tree-set">
        <no-comparator/>
        <string>WISE-ALL</string>
        <string>WISE-CORE-AS-8.0.0</string>
        <string>WISE-CORE-AS-8.1.0</string>
        <string>WISE-CORE-AS-8.2.0</string>
        <string>WISE-CORE-AS-9.0.0</string>
      </jobNames>
      <name>WISE-CORE Tests</name>
      <description>
        <![CDATA[
  Run WISE-CORE tests.
]]>
      </description>
    </view>

  </views>
</hudson>
