<?xml version='1.0' encoding='UTF-8'?>
<project>
  <builders class="vector"/>
  <publishers class="vector">
    <hudson.tasks.BuildTrigger>
      <childProjects>AS-ALL, CXF-ALL</childProjects>
      <threshold>
        <name>UNSTABLE</name>
        <ordinal>1</ordinal>
        <color>YELLOW</color>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers class="vector"/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <enableRemoteTrigger>false</enableRemoteTrigger>
  <triggers class="vector">
    <hudson.triggers.TimerTrigger>
      <spec>0 17 * * 6-7</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <logRotator>
    <daysToKeep>14</daysToKeep>
    <numToKeep>-1</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <description>Weekend matrix executes all the existing jobs.</description>
  <actions class="vector"/>
</project>
